.static-box{
    position: static;
    background-color: blueviolet;
    height:100px;
    width:100px;
}
.relative-box{
    position:relative;
    background-color: aqua;
    top:20px;
    left:30px;
    height:100px;
    width:100px;
}
#container{
    position: absolute;
    height:100px;
    width:100px;
    background-color: blue;
    top: 10px;
    left: 15px;
}
.fixed-box{
    position:fixed;
    bottom:10px;
    right:10px;
    height:100px;
    width:100px;
    background-color: rgb(228, 25, 235);
}
.sticky-box{
    position:sticky;
    top: 0px;
    height:100px;
    width:100px;
    background-color: rgb(216, 52, 129);
}
.background-image{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg");
    background-size: cover;
    height:200px;
    width:200px;
}
.background-image-repeat{
    height:500px;
    width:500px;
    background-size: 20%;
    background-repeat:repeat;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg");
}
.box1{
    height:100px;
    width:100px;
    background-color: rgb(205, 216, 52);
    z-index: 1; 
}
.box2{
    height:100px;
    width:100px;
    background-color: rgb(52, 216, 60);
    z-index: 2; 
    position: relative;
    left: 20px;
    bottom: 20px;
}
#flexcontainer{
    flex-direction: row;
    height:200px;
    width:200px;
    display:flex;
    border:4px,solid,black;
    background-color: rgb(223, 125, 34);
    justify-content: space-between;
}
#flexcontainer2{
    display: flex;
    flex-direction: column;
    border:2px,solid,black;
    height:100px;
    width:100px;
    background-color: rgb(223, 34, 34);
    justify-content: space-between;
}
.childdiv{
    background-color: aqua;
}
#flexcontainer3{
    display: flex;
    border:2px,solid,black;
    height:200px;
    width:200px;
    background-color: rgb(170, 34, 223);
    justify-content:space-evenly;
}
